body {
   font-size: $p1S;
}

.custom {
   $cPrimary: red;
}
.single-page {
   header {
      background-color: rgba(26, 24, 22, 0.85) !important;
   }
   #topbar {
      height: 0px;
      overflow: hidden;
      background-color: rgba(26, 24, 22, 0.85) !important;
   }
   #header {
      top: 0;
   }
}
