// $cPrimary: #ff9b08;
// $cPrimaryLight: #ffc56e;
// $cPrimaryLight2: #ff9b08;
// $cSecond: #444444;
// $cThird: #fff;

:root {
   /* headings */
   --h1-home: 60px;
   --h1-size: 40px;
   --h2-size: 30px;
   --h3-size: 20px;
   --h4-size: 22px;
   --h5-size: 16px;
   --h6-size: 16px;

   /* paragraphs */
   --para1-size: 16px;
   --para2-size: 14px;
   --para3-size: 12px;
   --para4-size: 10px;

   /* colors */
   --c-primary: #C99738;
   --c-primary-light: #c996389f;
   --c-primary-light-2: #c9963844;
   --c-primary-opacified: #e0438773;
   --c-second: #444444;
   --c-second-light: #444444;
   --c-third: #fff;
}
@media only screen and (max-width: 992px) {
   :root {
      /* headings */
      --h1-home: 30px;
      --h1-size: 30px;
      --h2-size: 20px;
      --h3-size: 17px;
      --h4-size: 16px;
      --h5-size: 16px;
      --h6-size: 16px;
      /* paragraphs */
      --para1-size: 14px;
      --para2-size: 12px;
      --para3-size: 10px;
      --para4-size: 8px;
   }
   .first {
      order: 1;
   }
   .second {
      order: 2;
   }
}
/* 
moods */
[data-theme="happy"] {
   /* colors */
   --c-primary: #ff9b08;
   --c-primary-light: #ffc56e;
   --c-primary-light-2: #ff9b08;
   --c-primary-opacified: #ff9c086c;
   --c-second: #444444;
   --c-second-light: #777676;
   --c-third: #fff;
}

/* headings */
$h1Home: var(--h1-home);
$h1S: var(--h1-size);
$h2S: var(--h2-size);
$h3S: var(--h3-size);
$h4S: var(--h4-size);
$h5S: var(--h5-size);
$h6S: var(--h6-size);
/* paragraphs */
$p1S: var(--para1-size);
$p2S: var(--para2-size);
$p3S: var(--para3-size);
$p4S: var(--para4-size);
/* colors */
$cPrimary: var(--c-primary);
$cPrimaryLight: var(--c-primary-light);
$cPrimaryLight2: var(--c-primary-light-2);
$cPrimaryOpacified: var(--c-primary-opacified);
$cSecond: var(--c-second);
$cThird: var(--c-third);
// $cPrimary: #e04386;
// $cPrimaryLight: #fd82b1;
// $cPrimaryLight2: #ffbbd7;
// $cSecond: #444444;
// $cThird: #fff;
